@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
   
    @foreach (var row in ViewBag.getAllMusicTypes.Rows)
    {
        <li>@row["GenreId"] @row["name"]</li>
    }
</ul>

